<div class="container_footer">
  <div class="row">
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li>
          <a href="">about us</a>
          <a href="">our services</a>
          <a href="">privacy policy</a>
          <a href="">affiliate</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Get Help</h4>
      <ul>
        <li>
          <a href="">FAQ</a>
          <a href="">Shipping</a>
          <a href="">Returns</a>
          <a href="">Order Status</a>
          <a href="">Payment Options</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Online Shop</h4>
      <ul>
        <li>
          <a href="">Watch</a>
          <a href="">Bag</a>
          <a href="">Shoes</a>
          <a href="">Dress</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Newsletter</h4>
      <form action="">
        <input type="text" placeholder="Your Name" class="inputName" />
        <input
          type="email"
          placeholder="Enter Company Email"
          class="inputEmail"
        />
        <input type="submit" value="Submit" class="inputSubmit" />
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <p>&#169; 2023 Nguyễn Văn Tài.</p>
    </div>
    <div class="socialIcons">
      <a href=""> <ion-icon name="logo-facebook"></ion-icon></a>
      <a href=""> <ion-icon name="logo-instagram"></ion-icon></a>
      <a href=""> <ion-icon name="logo-youtube"></ion-icon></a>
      <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
  </div>
</div>
