<section class="welcome" id="about">
  <h1 class="heading">WELCOME TO TAIFOOD</h1>
  <center><h3 class="sub-heading">~ Luxury & Quality ~</h3></center>
  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="img/doannhanh2.jpg" alt="" />
      </div>
      <div class="content">
        <h3>pizza</h3>
        <p>mon an ngon</p>
        <a href="#" class="btn">Real More</a>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="img/doannhanh5.jpg" alt="" />
      </div>
      <div class="content">
        <h3>dui ga real</h3>
        <p>500gr dui ga</p>
        <a href="#" class="btn">Real More</a>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="img/doannhanh3.jpg" alt="" />
      </div>
      <div class="content">
        <h3>dui ga fake</h3>
        <p>300gr dui ga</p>
        <a href="#" class="btn">Real More</a>
      </div>
    </div>
  </div>
</section>
