<section>
  <div class="container">
    <div class="service">
      <h1 class="heading">Our Service</h1>
      <div class="row">
        <div class="service">
          <ion-icon name="laptop-outline"></ion-icon>
          <h2>Web Design1</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <h2>Web Design 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
          <ion-icon name="laptop-outline"></ion-icon>
          <h2>Web Design 3</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
          <ion-icon name="laptop-outline"></ion-icon>
          <h2>Web Design 4</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
          <ion-icon name="laptop-outline"></ion-icon>
          <h2>Web Design 5</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
          <ion-icon name="laptop-outline"></ion-icon>
          <h2>Web Design 6</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
