<div class="container">
  <div class="manage-product">
    <div class="heading">
      <h1>Product Details</h1>
      <a href="/manage/add-products" class="add-new">Add New</a>
    </div>

    <table id="customers">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% if(food != null) { %> <% food.forEach(function(article, index) { %>

        <tr>
          <td>
            <img
              style="width: 80px; height: 80px"
              src="<%- article.image %>"
              alt=""
            />
          </td>
          <td><%- article.name %></td>
          <td><%- article.price %></td>
        </tr>
        <% }) %> <% } else { %> No posts found. <% } %>
      </tbody>
    </table>
  </div>
</div>
