<div class="manage-product">
  <div class="heading">
    <h1>Product Details</h1>
    <input placeholder="product" />
    <a href="/manage/inputproduct" class="add-new"><button>Add New</button></a>
  </div>

  <table id="customers">
    <thead>
      <tr>
        <th>Name product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% if(food != null) { %> <% food.forEach(function(article, index) { %>

      <tr>
        <td><%- article.name %></td>
        <td><%- article.price %></td>
      </tr>
      <% }) %> <% } else { %> No posts found. <% } %>
    </tbody>
  </table>
</div>
